:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  --mfaNavy: #15477c;
  --sgds-primary-rgb: 89, 37, 220;
  --sgds-secondary-rgb: 31, 105, 255;
  --sgds-success-rgb: 10, 130, 23;
  --sgds-info-rgb: 15, 113, 187;
  --sgds-warning-rgb: 247, 144, 9;
  --sgds-danger-rgb: 215, 38, 15;
  --sgds-light-rgb: 247, 247, 249;
  --sgds-dark-rgb: 0, 0, 0;
  --sgds-white-rgb: 255, 255, 255;
  --sgds-black-rgb: 0, 0, 0;
  --sgds-body-color-rgb: 29, 41, 57;
  --sgds-body-bg-rgb: 255, 255, 255;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}